body {
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
  }

  /** Body Header **/
header {
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    height: 65vh;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

/** Horizontal Lists **/
.nav-links {
    list-style: none;
    padding: 0px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;    
    transition: color 0.5s, border-bottom 4s;
}

.nav-links li{
   display: inline-block;
   margin: 16px 15px 15px 0px;
}

.nav-links li a:hover{
    text-decoration: underline;
    color: lightgrey;
 }

/** Center aligned **/
.text-center {
    text-align: center;
  }

/** Name section **/
.name-section {
    margin-top: 60px;
    color: white;
    font-size: 90px;
}

.socials a img{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(230, 196, 196, 0.3);
    transition: transform 0.3s ease-in-out;
}

.socials a img:hover{
    transform: scale(1.1);
}

#about img{
    height: 250px;
    width: 270px;
    background-color: rgb(42, 38, 38);
    border-radius: 50%;
    margin-top: -15vh;
    position: relative;
    border: 2px solid gray;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.2);
}

#about p{
   padding-left: 20%;
   padding-right: 20%;
   font-size: medium;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#in-para-text{
    color: blue;
}


/** Sections **/
section {
    width: 100%;
    /*height: 75vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** give background color to alternate sections**/
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

.skills-header{
    width: auto;
    padding: 20px 20px 10px;
    font-weight: 400;
}

.skills-header span {
    font-size: 35px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
    margin-bottom: 75px;
    
}
.skills-display{
    width: 75%;
    padding: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills-progress{
    width: 7rem;
    height: 1.5rem;
    background-color: lightgrey;
    border-radius: 1rem;
    overflow: hidden;
    margin: 30px;
}

.skills-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name span{
    font-size: 0.9rem;
    color: white;
    /* margin-left: 5px; */
    margin-top: 10px;
    padding-left: 10px;
}

/** Colors **/
.mb-light-blue{
    background-color: blueviolet;
}

.mb-orange{
    background-color: orange;
}

.mb-yellow{
    background-color: burlywood;
}

.mb-light-coral{
    background-color: coral;
}

.mb-light-green{
    background-color: green;
}

/** Percentage CSS classes**/
.eighty-five-percent{
    width: 85%;
    height: inherit;
}

.seventy-percent{
    width: 70%;
    height: inherit;
}

.seventy-five-percent{
    width: 75%;
    height: inherit;
}

.sixty-percent{
    width: 60%;
    height: inherit;
}

.fifty-percent{
    width: 50%;
    height: inherit;
}

/** Portfolio **/

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
    font-size: 30px;
}
